<section class="booking-system container">
  <h2>Boka biljetter</h2>
  <p>${this.showingDate ? this.showingDate : ''}</p>
  <p>${this.film ? this.film : ''}</p>
  <div>${this.ticketSelection ? this.ticketSelection : 'I have no ticketSelection'}</div>
  <div class="row">
    <div class="col-7 mx-auto">
        ${this.seatsGrid ? this.seatsGrid : ''}
    </div>
  </div>
  <div class="row">
    <div class="col-7 mx-auto py-4">
      <a role="button" href="/" class="btn btn-secondary" >Avbryt</a>
      <button type="button" class="btn btn-secondary save-booking" >Boka</button>

    </div>
    ${this.message ? this.message : ''}
  </div>
</section>