<section class="loginPage">
  <h1>Welcome to Login :D</h1>

  <section class="login-form p-4">
    <h3 class="mb-4">Logga in</h3>
    <section class="login-wrapper">
      <p>Email:</p>
      <input class="email-input mb-3" type="text">
      <p>Password:</p>
      <input class="password-input mb-3" type="password">
      <br>
      <p class="register-link">Skapa ny användare</p>
      <br>
      <button type="button" class="btn btn-primary mt-4">Logga in</button>
    </section>
  </section>
</section>