<section class="registerPage">
  <section class="register-form p-4">
    <h3 class="mb-4">Skapa användare</h3>
    <section class="login-wrapper">
      <p>Förnamn:</p>
      <input class="first-name-input mb-3" type="text">
      <p class="invalid-firstname">Felaktigt namn</p>
      <p>Efternamn:</p>
      <input class="last-name-input mb-3" type="text">
      <p class="invalid-lastname">Felaktigt efternamn</p>
      <p>Email:</p>
      <input class="email-input mb-3" type="text">
      <p class="email-invalid error-msg">Felaktigt emailformat</p>
      <p class="email-exists error-msg">Denna email existerar redan</p>
      <p>Lösenord:</p>
      <input class="password-input mb-3" type="password">
      <p>Bekräfta lösenord:</p>
      <input class="passwordConfirm-input mb-3" type="password">
      <p class="invalid-password">Lösenordet matchar ej</p>
      <br>
      <button class="btn btn-primary saveNewUser-btn mt-4">Bekräfta</button>

    </section>
  </section>
</section>