<section class="registerPage">
  <h1>Welcome to Register :D</h1>
  <section class="register-form p-4">
    <h3 class="mb-4">Skapa användare</h3>
    <section class="login-wrapper">
      <p>Förnamn:</p>
      <input class="firstName-input mb-3" type="text">
      <p>Efternamn:</p>
      <input class="lastName-input mb-3" type="text">
      <p>Email:</p>
      <input class="email-input mb-3" type="text">
      <p>Lösenord:</p>
      <input class="password-input mb-3" type="password">
      <p>Bekräfta lösenord:</p>
      <input class="passwordConfirm-input mb-3" type="password">
      <br>
      <a role="button" href="/" class="btn btn-primary saveNewUser-btn mt-4">Bekräfta</a>

    </section>
  </section>
</section>