<section class="techinfo-content">
  <div class="container-fluid">
    <div class="row">
      <div class="speakers-img mx-auto px-0">
        <img src="/images/techinfo/tech-cover.jpg" class="img-fluid tech-cover-img ">
        <div class="gradient-cover-img "></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4">
        <h2 class="tech-headline mb-5">Våra salonger</h2>
        <h4 class="saloon-headline mb-5">ZenMongouse</h4>
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <p> Det var ett grandiost pompa och ståt vid invigningen av ZenMongouse 2016 som 
              drog stor publik. Celibriteter såsom Celine Dion, Tomas Ledin, Mick Jagger, bland många,
              uppträdde till allas förtjusning. ZenMongouse är biografernas slagskepp inom
              auditoriumvärlden där inget av de tekniska moderniteter och bekvämligheter har tummats på.
              Till ZenMongouse går man inte för att "titta" på film utan man är där för att uppleva 
              och verkligen känna atmosfären av verklig filmmagi. Varmt välkommen!
            </p>
          </div>
          <div class="col-sm-6">
            <table class="table">
              <tbody>
                <tr>
                  <td class="">Antal sittplatser</td>
                  <td class="info-right">79 stycken</td>
                </tr>
                <tr>
                  <td class="">Bioduken</td>
                  <td class="info-right">Slät vit carbon "1000</td>
                </tr>
                <tr>
                  <td class="">Ljudsystem</td>
                  <td class="info-right">THX Ultra Powerful 3.1 Zhz</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="auditorium-img">
        <img class="img-fluid" src="/images/techinfo/tech-auditorium.jpg">
        <div class="gradient-cover-img"></div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-4">
          <h4 class="saloon-headline">Zentermidiate</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident maxime aspernatur sit pariatur. Nam
                natus nulla perferendis. Possimus nihil exercitationem est, voluptatum vero ut modi quia perspiciatis
                voluptate labore consequatur.</p>
            <div>
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="">Antal sittplatser</td>
                      <td class="info-right">79 stycken</td>
                    </tr>
                    <tr>
                      <td class="">Bioduken</td>
                      <td class="info-right">Slät vit carbon "1000</td>
                    </tr>
                    <tr>
                      <td class="">Ljudsystem</td>
                      <td class="info-right">THX Ultra Powerful 3.1 Zhz</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="col-sm-6 mt-4">
          <h4 class="saloon-headline">Zenpetit</h4>
              <p>Den lilla salongen av de tre är långt ifrån vad namnet antyder. En intim
                bioupplevelsen för alla sinnes och recenserades i Kvällsposten vid för-invigningen
                "som en bikram-yogans Ferrari bland biografsalonger". Den senaste ljudtekniken ger en 
                fantastisk upplevelse som sent ska glömmas. Vi ses!
              </p>
            <div>
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="">Antal sittplatser</td>
                      <td class="info-right">79 stycken</td>
                    </tr>
                    <tr>
                      <td class="">Bioduken</td>
                      <td class="info-right">Slät vit carbon "1000</td>
                    </tr>
                    <tr>
                      <td class="">Ljudsystem</td>
                      <td class="info-right">THX Ultra Powerful 3.1 Zhz</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</section>