<section class="techinfo-content">
  <div class="container-fluid">
    <div class="row">
      <div class="speakers-img mx-auto px-0">
        <img src="/images/techinfo/tech-cover.jpg" class="img-fluid tech-cover-img ">
        <div class="gradient-cover-img "></div>
      </div>
    </div>
    <div class="row">
      <h2 class="tech-headline">Våra salonger</h2>
      <div class="col-12 mt-4">
        <h4 class="saloon-headline mb-5">Zenmongouse</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident maxime aspernatur sit pariatur. Nam
          natus nulla perferendis. Possimus nihil exercitationem est, voluptatum vero ut modi quia perspiciatis
          voluptate labore consequatur.</p>
      </div>
    </div>
    <div class="row">
      <div class="auditorium-img">
        <img class="img-fluid" src="/images/techinfo/tech-auditorium.jpg">
        <div class="gradient-cover-img"></div>
      </div>
    </div>
    <div class="row">

      <div class="col-4 mt-4">
        <h4 class="saloon-headline">Zentermidiate</h4>
      </div>
    </div>

    <div class="col-4 mt-4">
      <h4 class="saloon-headline">Zenpetit</h4>
    </div>
  </div>
</section>