<section class="container main-container-fade">
  <div class="row pb-5 pt-3">
    <section class="col-12 col-md-6">
      <h2>Nyheter / artiklar</h2>


    </section>
    <section class="col-12 col-md-6">
      <section class="container-fluid">
        <section class="row">
          <section class="col-12 my-5 rounded border border-secondary px-0">
            <img class="img-fluid" src="/images/zenCoin.jpg" alt="zencoin">
            <div class="bg-light border-top border-dark text-dark p-3">
              <h3>ZenCoins!</h3>
              <p>Snart lanserar vi vår senaste nyhet, ZenCoins! Ni kommer att tjäna ZenCoins genom de bokningar ni gör hos oss. </p>
            </div>
          </section>
          ${this.calendarShowing ? this.calendarShowing : ''}
        </section>
      </section>


    </section>
  </div>


  <!-- <h2 class="my-3">Följande filmer visas från ${this.today} till ${this.lastDay}</h2>
  <p>Klicka på den film du vill se för att se alla dess kommande visningar</p> -->
</section>