body > div{
    font-family: 'Roboto', sans-serif;
    background-color: $primary;
    color: $secondary;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #000;
    main {
        flex: 1;
    }
}

// ::selection {
//     background-color: transparent;
//     color: $secondary;
// }

.welcome{
    text-align: center;
    h1 {
        background:  url('/images/tickets.png') 22% no-repeat;
        background-size: 80px;
        color: $secondary;
        font-size: 5rem;
        line-height: 80vh;
        font-family: $courgette-cursive;
        @include flight-in(1s);
    }
}

.a-over {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    &:hover {
        background-color: transparentize($primary, .7);
    }
}