.film-collection {
  background: #000;
  box-shadow: $main-shadow;
  .film-carousel{
    .carousel-item h5 {
      letter-spacing: .15rem;
      text-shadow: 0 0 5px #000;
    }
  }
  .film-poster {
    .film-poster-content {
      border-radius: 8px;
      &:hover{
        background-color: transparentize($primary, .3)
      }
    }
  }
}