.film-collection {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  .film-carousel{
    .carousel-item h5 {
      letter-spacing: .15rem;
      text-shadow: 0 0 5px #000;
    }
  }
  .film-poster {
    .film-poster-content {
      border-radius: 8px;
      &:hover{
        background-color: transparentize($primary, .3)
      }
    }
  }
}