section.registerPage {
  .register-form {
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 5px black;
    .login-wrapper {
      p {
        margin: 0;
      }
      .register-link {
        color: $primary;      
        display: inline-block;  
        &:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }
      .error-msg {
        display: none;
        color: red;
      }
      .email-invalid, .email-exists {
        display: none;
        color: red;
      }
      .invalid-firstname, .invalid-lastname {
        display: none;
        color: red;
      }
      .invalid-password {
        display: none;
        color: red;
      }
    }
  }
}