section.registerPage {
  
    .register-form {
      color: $secondary;
      margin: 0 auto;
      max-width: 600px;
      text-align: center;
      border-radius: 3px;
      background-color: black;
      box-shadow: 0 0 400px 150px black;
    .login-wrapper {
      p {
        margin: 0;
      }
      .register-link {
        color: $secondary;      
        display: inline-block;  
        &:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }
      .error-msg, .email-invalid, .email-exists, .invalid-firstname, .invalid-lastname, .invalid-password, .password-mismatch {
        display: none;
        color: red;
      }
    }
  }
}