.seats-grid {
  margin-top: 30px;
}

.seats-row {
  display: table;
  table-layout: fixed;
  border-spacing: 5px;
  margin: auto;
  @include media-breakpoint-down(xs) {
    table-layout: auto;
    border-spacing: 2px;
  }
  .seat {
    position: relative;
    display: table-cell;
    background-color: $accent-light;
    border-radius: 3px;
    padding: 7px 10px;
    white-space: nowrap;
    cursor: pointer;
    @include media-breakpoint-down(xs) {
      font-size: .75rem;
      padding: 4px 6px;    
    }
    &.hovered-seats {
      background-color: #fff;
    }
    &.invalid-seats {
      background-color: red;
    }
    &.chosen-seats {
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
      0% { opacity: 1; }
      50% { background-color: #fff; }
      100% { opacity: 1; }
    }
    /* &:hover {
      background-color: $accent-dark;
    } */
    &.taken {
      cursor: default;
      background-color: $accent-dark;
    }
    .ghost-div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }
  }
}