.seats-grid {
  margin-top: 30px;
}

.seats-row {
  display: table;
  table-layout: fixed;
  border-spacing: 5px;
  margin: auto;
  @include media-breakpoint-down(xs) {
    table-layout: auto;
    border-spacing: 2px;
  }
  .seat {
    display: table-cell;
    background-color: $accent-light;
    border-radius: 3px;
    padding: 7px 10px;
    white-space: nowrap;
    cursor: pointer;
  @include media-breakpoint-down(xs) {
    font-size: .75rem;
    padding: 4px 6px;    
  }
    &:hover {
      background-color: $accent-dark;
    }
    &.taken {
      cursor: default;
      background-color: $accent-dark;
    }
  }
}