/* .ticketQuantity {
  width: 50px;
} */

.film-page-content {
  .ticketQuantity {
    display: none;
  }
}

.booking-system {
  .ticket-price {
    .quantity {
      font-size: 30px;
    }
    .fas {
      cursor: pointer;
    }
  }
}