.booking-system {
  .ticket-price {
    .quantity {
      font-size: 25px;
      @include media-breakpoint-down(xs){
        display: table;
        table-layout: fixed;
      }
    }
    ::selection {
      background-color: transparent;
    }
    .fas {
      cursor: pointer; 
    }
  }
}