/* .ticketQuantity {
  width: 50px;
} */

.film-page-content {
  .ticketQuantity {
    display: none;
  }
}

.booking-system {
  .ticket-price {
    .fas {
      cursor: pointer;
    }
  }
}