#trailerModal {
  max-width: 1200px;
    margin: 30px auto;
    .modal-body {
      position:relative;
      padding:0px;
      .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index:999;
        font-size:2rem;
        font-weight: normal;
        color:rgb(5, 5, 5);
        opacity:1;
        @include media-breakpoint-down(lg){
          right: 0;
          top: -30px;
        }
      }
    }
}